/node_modules
/public/hot
/public/storage
/public/specialist-relocation
/public/investor
/public/founder
/public/files
/public/vendor
/public/vendorNew
/public/qr-code
/public/specialist-visa
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
